/* Print Styles */
@media print {
    body * {
        visibility: hidden;
    }
    #printable-certificate, #printable-certificate * {
        visibility: visible;
    }
    #printable-certificate {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
    }
}
